<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<hr width="600px">
<div class='comment'>
<%= form_for [@article, @article.comments.build] do |f| %>
<%= label :email, 'Email (Optional)' %><br>
<%= f.text_field :email %>
<%= f.text_area :body, size: "60x12"%>
<%= f.submit "Comment" %>
<% end %>
</div>
<div class='display_comments'>
  <% @article.comments.each do |hash| %>
    <% if hash.email != nil %>
      <%= hash.email%> says:<br>
      <% end %>
    <p><%= hash.body %></p>
  <% end %><p>
</div>
